black
isort
mypy
coverage
coverage-badge
pytest
pre-commit
moto[s3]
prometheus-client==0.18.0
eval_type_backport

faiss-cpu
sentence-transformers
transformers
accelerate
trl
peft
bitsandbytes
torch
rwkv
