black
isort
mypy
coverage
coverage-badge
pytest
pre-commit
moto[s3]
prometheus-client==0.18.0
eval_type_backport

faiss-cpu
sentence-transformers
transformers
accelerate
trl
peft
bitsandbytes
torchvision==0.22.1
torchaudio==2.7.1
torch==2.7.1
rwkv
