fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy
alembic
boto3
celery
redis
flower==2.0.1
python-multipart
httpx
PyMuPDF
beautifulsoup4
jinja2
psycopg2-binary
charset-normalizer
lxml
pyarrow
datasets
langdetect
prometheus-client==0.18.0
numpy
pillow
eval_type_backport
