fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy
alembic
boto3
celery
redis
python-multipart
httpx
PyMuPDF
beautifulsoup4
jinja2
psycopg2-binary
pytesseract
charset-normalizer
lxml
pyarrow
datasets
langdetect
prometheus-client

faiss-cpu
sentence-transformers
transformers
accelerate
trl
peft
bitsandbytes
torch
rwkv
